on fs
    mount ext4 /dev/block/by-name/cust /cust wait ro nosuid nodev

on boot
    chmod 0660 /dev/nxp_smartpa_dev
    chown media media /dev/nxp_smartpa_dev

service aptouch /system/bin/true
    disabled
    oneshot 
    
service displayeffect-1-0 /system/bin/true
    disabled
    oneshot 

service activityrecognition_1_1 /system/bin/true
    disabled
    oneshot 

service pmom /system/bin/true
    disabled
    oneshot 

on property:sys.boot_completed=1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 90
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads 50:999000:75:1402000:90:1709000:95
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/fast_ramp_down 0

    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/fast_ramp_down 0

